{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/courssoutien.jpg);">
    <div class="bradcumbContent">
        <h2>{% trans "Info Sur Cours" %}</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Top Popular Courses Area Start ##### -->
<div class="top-popular-courses-area mt-50 section-padding-100-70">
    
</div>
<!-- ##### Top Popular Courses Area End ##### -->

<!-- ##### Top Popular Courses Details Area Start ##### -->
<div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
    <div class="single-top-popular-course d-flex align-items-center flex-wrap">
        <div class="popular-course-content">
            <h5>{{ cours.matiere.nom }}</h5>
            <br><br>
            <p>{{ cours.description }}</p>
            <a href="{% url 'cours:inscription_cours' cours.id %}" class="btn academy-btn btn-sm mt-15">{% trans "Inscrire Au Cours" %}</a>
        </div>
        <div class="popular-course-thumb detail-w-m-f">
        <div class="popular-course-content">
            <h6>{% trans "à propos de cours" %} </h6>
            <span class="chettb"><div class='rania'>{% trans "Niveau Scolaire" %}</div>   |  {{ cours.niveau.nom }}</span>
            <span class="chettb"><div class='rania'>{% trans "Année" %}</div>   |  {{ cours.annee.nom }}</span>
        </div>
        
        <div class="popular-course-content chettb">
            <h6>{% trans "Plus sur le cours" %} </h6>
            <!-- <span class="chettb"><div class='rania'>Date Début</div>   |  {{ formation.date_deb }}</span>
            <span class="chettb"><div class='rania'>Date Fin</div>   |  {{ formation.date_fin }}</span>
            <span class="chettb"><div class='rania'>Durée</div>   |  {{ formation.duree_en_h }} Heures</span> -->
            <span class="chettb"><div class='rania'>{% trans "Prix" %}</div>   |  {{ cours.prix }} DA</span>
        </div>
        </div>
    </div>
</div>
<!-- ##### Top Popular Courses Details Area End ##### -->



{% endblock body %}