{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/event.jpg);">
    <div class="bradcumbContent">
        <h2>{% trans "Nos Événements" %}</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Top Popular Courses Area Start ##### -->
<div class="top-popular-courses-area mt-50 section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    
                </div>
            </div>
        </div>
        <div class="row">
            
            {% if evenements %}
            {% for evenement in evenements %}
            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content">
                        <h5>{{ evenement }}</h5>
                        <p>{% trans "Le Formateur" %} : {{ evenement.formatteur }}</p>
                        <p>{% trans "Le lieu" %} : {{ evenement.lieu }}</p>
                        <p>{% trans "La date et l'heure" %} : {{ evenement.date_et_heure }}</p>
                        <a href="{% url 'evenement:inscription_evenement' evenement.id %}" class="btn academy-btn btn-sm">{% trans "Inscrire à l'événements" %}</a>
                    </div>
                    <!-- <div class="popular-course-content">{{ evenement.formatteur }}</div> -->
                </div>
            </div>
            {% endfor %}
            {% else %}
                <div class="mx-auto wow fadeInUp" data-wow-delay="400ms">
                    <h3 class="ilnya">{% trans "Il n'y a pas des événements" %}</h3>
                </div>
            {% endif %}
                
            
        </div>
    </div>
</div>
<!-- ##### Top Popular Courses Area End ##### -->

{% if evenement_erreur %}

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{% trans "Boîte de dialogue" %}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ evenement_erreur }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
</div>
    
{% endif %}



{% endblock body %}