{% extends 'base.html' %}
{% load static %}

{% block body %}
<!-- ##### Breadcumb Area Start ##### -->
<div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/event.jpg);">
    <div class="bradcumbContent">
        <h2>Nos Evenements</h2>
    </div>
</div>
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Top Popular Courses Area Start ##### -->
<div class="top-popular-courses-area mt-50 section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                    <span>les</span>
                    <h3>Evenements les plus populaires</h3>
                </div>
            </div>
        </div>
        <div class="row">
            
            {% if evenements %}
            {% for evenement in evenements %}
            <!-- Single Top Popular Course -->
            <div class="col-12 col-lg-6">
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp" data-wow-delay="400ms">
                    <div class="popular-course-content">
                        <h5>{{ evenement }}</h5>
                        <p>La Formatteur : {{ evenement.formatteur }}</p>
                        <p>Le lieu : {{ evenement.lieu }}</p>
                        <p>La date et l'heure : {{ evenement.date_et_heure }}</p>
                        <a href="{% url 'evenement:inscription_evenement' evenement.id %}" class="btn academy-btn btn-sm">Inscrire à l'évenement</a>
                    </div>
                    <!-- <div class="popular-course-content">{{ evenement.formatteur }}</div> -->
                </div>
            </div>
            {% endfor %}
            {% else %}
                <div class="mx-auto wow fadeInUp" data-wow-delay="400ms">
                    <h3 class="ilnya">Il n'y a pas des évènements</h3>
                </div>
            {% endif %}
                
            
        </div>
    </div>
</div>
<!-- ##### Top Popular Courses Area End ##### -->

{% if evenement_erreur %}

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ evenement_erreur }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"></button>
        </div>
      </div>
    </div>
</div>
    
{% endif %}


<!-- ##### Course Area Start ##### -->
<div class="academy-courses-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Single Course Area -->
            <div class="col-12 col-lg-4">
                <div class="single-course-area d-flex align-items-center mb-100">
                    <div class="course-icon">
                        <i class="icon-id-card"></i>
                    </div>
                    <div class="course-content">
                        <h4>Business School</h4>
                        <p>Cras vitae turpis lacinia, lacinia la cus non, fermentum nisi.</p>
                    </div>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-lg-4">
                <div class="single-course-area d-flex align-items-center mb-100">
                    <div class="course-icon">
                        <i class="icon-worldwide"></i>
                    </div>
                    <div class="course-content">
                        <h4>Marketing</h4>
                        <p>Lacinia, lacinia la cus non, fermen tum nisi.</p>
                    </div>
                </div>
            </div>
            <!-- Single Course Area -->
            <div class="col-12 col-lg-4">
                <div class="single-course-area d-flex align-items-center mb-100">
                    <div class="course-icon">
                        <i class="icon-map"></i>
                    </div>
                    <div class="course-content">
                        <h4>Photography</h4>
                        <p>Cras vitae turpis lacinia, lacinia la cus non, fermentum nisi.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Course Area End ##### -->

<!-- ##### CTA Area Start ##### -->
<div class="call-to-action-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content d-flex align-items-center justify-content-between flex-wrap">
                    <h3>Voulez-vous rejoindre notre académie? Inscrivez-vous en ligne pour recevoir toutes les nouveautés!</h3>
                    <a href="#" class="btn academy-btn">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### CTA Area End ##### -->
{% endblock body %}