{% extends 'base_profil.html' %} 
{% load static %}
{% load bootstrap4 %}

{% block body %}

<style type="text/css">
    .star{
      color: goldenrod;
      font-size: 2.0rem;
      padding: 0 1rem; /* space out the stars */
    }
    .star::before{
      content: '\2606';    /* star outline */
      cursor: pointer;
    }
    .star.rated::before{
      /* the style for a selected star */
      content: '\2605';  /* filled star */
    }
    
    .stars{
        padding: 10px;
        counter-reset: rateme 0;   
        font-size: 2.0rem;
        font-weight: 900;
    }
    .star.rated{
        counter-increment: rateme 1;
    }
    #champsCom{
        padding: 10px;
        width: 500px;
        border: none;
        border-radius: 5px;
    }
</style>

<div class="sidebar" data-color="azure" data-background-color="black" data-image="{% static 'assets/img/sidebar-2.jpg' %}">
<div class="logo"><a href="{% url 'accounts:profil_edit' %}" class="simple-text logo-normal">
    {{ etudiant.nom }} {{ etudiant.prenom }}
  </a>
</div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="{% url 'accounts:profil' %}">
              <i class="material-icons">dashboard</i>
              <p>Accueil</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'accounts:profil_edit' %}">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'accounts:mes_cours' %}">
            <i class="material-icons">library_books</i>
            <p>Mes Cours</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'accounts:mes_formations' %}">
              <i class="material-icons">content_paste</i>
              <p>Mes Formations</p>
            </a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" href="{% url 'accounts:mes_evenements' %}">
              <i class="material-icons">bubble_chart</i>
              <p>Mes Evenements</p>
            </a>
      </li>
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:mon_avis' %}">
              <i class="material-icons">comment</i>
              <p>Mon Avis</p>
            </a>
          </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="material-icons">logout</i>
              <p>Déconnexion</p>
            </a>
        </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{% url 'accounts:mon_avis' %}">Mon Avis</a>
          </div>
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{% url 'accueil:accueil' %}">Future Pioneers Academy</a>
          </div>

          <div class="navbar-wrapper">
          </div>

          <div class="navbar-wrapper">
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Editer le profil</h4>
                  <p class="card-category">Complete your profile</p> 
                </div>
                <div class="card-body">
                  <form action="{% url 'accounts:profil_edit' %}" method="post" enctype='multipart/form-data'>
                   
                    <button type="submit" class="btn btn-primary pull-right">Enregistrer</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>-->
            <div class="col-md-8 mx-auto">
              <div class="card card-profile">
                <div class="card-avatar" id="yourContainer">
                  <!-- <a href="#pablo"> -->
                    <img class="img" style="width:100px;height:100px;" src="{{ etudiant.image.url }}" />
                  <!-- </a> -->
                </div>
                <div class="card-body">
                  <!-- <h6 class="card-category">CEO / Co-Founder</h6> -->
                  <h4 class="card-title">{{ etudiant.nom }} {{ etudiant.prenom }} </h4>
                <form action="{% url 'accounts:mon_avis' %}" method="POST">
                    {% csrf_token %}
                    {% if commentaire.commentaire != ' ' %}
                    <div class="stars" data-rating="{{ commentaire.nbrEtoiles }}">
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                    </div>
                    <p class="card-description">
                        {{ commentaire.commentaire }}
                    </p>
                  {% else %}
                    <div class="stars" data-rating="0">
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                        <span class="star">&nbsp;</span>
                    </div>
                  {% endif %}
                  
                  <input type="hidden" name="nbrEtoiles" id="nbrEtoiles" value="">
                  <textarea type="text" name="commentaire" id="champsCom"></textarea>
                  <br>
                  <input type="submit" class="btn btn-primary btn-round" value="Publier">
                </form>  
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>


    <script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function(){
            let stars = document.querySelectorAll('.star');
            stars.forEach(function(star){
                star.addEventListener('click', setRating); 
            });
            
            let rating = parseInt(document.querySelector('.stars').getAttribute('data-rating'));
            let target = stars[rating - 1];
            target.dispatchEvent(new MouseEvent('click'));
        });
        function setRating(ev){
            let span = ev.currentTarget;
            let stars = document.querySelectorAll('.star');
            let match = false;
            let num = 0;
            stars.forEach(function(star, index){
                if(match){
                    star.classList.remove('rated');
                }else{
                    star.classList.add('rated');
                }
                //are we currently looking at the span that was clicked
                if(star === span){
                    match = true;
                    num = index + 1;
                }
            });
            document.querySelector('.stars').setAttribute('data-rating', num);
            document.getElementById('nbrEtoiles').value = num ;
        }
	</script>
{% endblock body %}
  