{% extends "base_profil.html" %}
{% load static %}
{% load bootstrap4 %}
{% load bootstrap %}
{% load i18n %}

{% block body %}
<div class="sidebar" data-color="azure" data-background-color="black" data-image="{% static 'assets/img/sidebar-2.jpg' %}">
<div class="logo"><a href="{% url 'accounts:profil_edit' %}" class="simple-text logo-normal">
    {{ etudiant.nom }} {{ etudiant.prenom }}
  </a>
</div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item  ">
            <a class="nav-link" href="{% url 'accounts:profil' %}">
              <i class="material-icons">dashboard</i>
              <p>{% trans "Accueil" %}</p>
            </a>
          </li>
          <li class="nav-item active ">
            <a class="nav-link" href="{% url 'accounts:profil_edit' %}">
              <i class="material-icons">person</i>
              <p>{% trans "Mon Profil" %}</p>
            </a>
          </li>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'accounts:mes_cours' %}">
            <i class="material-icons">library_books</i>
            <p>{% trans "Mes Cours" %}</p>
          </a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'accounts:mes_formations' %}">
              <i class="material-icons">content_paste</i>
              <p>{% trans "Mes Formations" %}</p>
            </a>
      </li>
      <li class="nav-item ">
          <a class="nav-link" href="{% url 'accounts:mes_evenements' %}">
              <i class="material-icons">bubble_chart</i>
              <p>{% trans "Mes Événements" %}</p>
            </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="{% url 'accounts:mon_avis' %}">
          <i class="material-icons">comment</i>
          <p>{% trans "Mon Avis" %}</p>
        </a>
      </li>
        <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}">
              <i class="material-icons">logout</i>
              <p>{% trans "Déconnexion" %}</p>
            </a>
        </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top " id="navigation-example">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{% url 'accounts:profil_edit' %}">{% trans "Mon profil" %}</a>
          </div>
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="{% url 'accueil:accueil' %}">{% trans "Academie Pionniers Future" %}</a>
          </div>

          <div class="navbar-wrapper">
          </div>

          <div class="navbar-wrapper">
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">{% trans "Editer le profil" %}</h4>
                  <!-- <p class="card-category">Complete your profile</p> -->
                </div>
                
                
                  
                
                <div class="card-body">
                  <form action="{% url 'accounts:profil_edit' %}" method="post" enctype='multipart/form-data'>
                    {% if msgerror %}
                      <li style="color: red;">{{ msgerror }}</li>
                    {% endif %}
                    {% csrf_token %}
                    {% bootstrap_form updateuserform %}
                    
                    {{ updateetudiantform.nom }}
                    
                    {{ updateetudiantform.prenom }}
                    {{ updateetudiantform.image }}
                    <button type="submit" class="btn btn-primary pull-right">{% trans "Enregistrer" %}</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar" id="yourContainer">
                  <!-- <a href="#pablo"> -->
                    <img class="img" style="width:100px;height:100px;" src="{{ etudiant.image.url }}" />
                  <!-- </a> -->
                </div>
                <div class="card-body">
                  <!-- <h6 class="card-category">CEO / Co-Founder</h6> -->
                  <h4 class="card-title">{{ etudiant.nom }} {{ etudiant.prenom }} </h4>
                  <p class="card-description">
                    @{{ etudiant.compte.username }} <br>
                    {{ etudiant.compte.email }}
                  </p>
                  <!-- <a href="#pablo" class="btn btn-primary btn-round">Follow</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
{% endblock body %}
  