{% extends "base_generic.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}


<form method="post" action="{% url 'login' %}" class="login100-form validate-form">
  <span class="login100-form-title p-b-43 toto">
    {% trans "Connexion" %}
  </span>

  {% if form.errors %}
    <p>{% trans "Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer." %}</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "Votre compte n'a pas accès à cette page. Pour continuer, veuillez vous connecter avec un compte qui y a accès." %}</p>
    {% else %}
      <p>{% trans "Veuillez vous connecter pour voir cette page." %}</p>
    {% endif %}
  {% endif %}
  
  {% csrf_token %}
    {% bootstrap_form form %}
    <div class="container-login100-form-btn" data-wow-delay="400ms">
      <input type="submit" value="{% trans 'connexion' %}" class="login100-form-btn"/>
    </div>
      <div class="container-login100-form-btn">
          <a href="{% url 'accounts:inscription' %}" class="login100-form-btn" id="signup_id">
            {% trans 'Créer nouveau compte' %}
          </a>
      </div>
      <input type="hidden" name="next" value="{{ next }}" />
      {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}" class="txt1">{% trans 'Mot de passe perdu?' %}</a></p>
  </form>
  
{% endblock %}