{% extends "base_generic.html" %}
{% load i18n %}
{% load bootstrap %}

{% block content %}
<div class="login100-form validate-form">
    {% if validlink %}
        <p>{% trans "Veuillez saisir (et confirmer) votre nouveau mot de passe." %}</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.new_password1.errors }}
                            <!-- <label for="id_new_password1">{% trans "Nouveau mot de passe:" %}</label> -->
            {{ form.new_password1|bootstrap }}
                    
                    
            {{ form.new_password2.errors }}
                            <!-- <label for="id_new_password2">{% trans "Confirmez le mot de passe:" %}</label> -->
            {{ form.new_password2|bootstrap }}
                    
                    
            <input type="submit" class="btn btn-danger" value="{% trans 'Changer mon mot de passe' %}" />
                
        </form>
    {% else %}
        <h1>{% trans "La réinitialisation du mot de passe a échoué" %}</h1>
        <p>{% trans "Le lien de réinitialisation du mot de passe n'était pas valide, probablement parce qu'il a déjà été utilisé. Veuillez demander une nouvelle réinitialisation de mot de passe." %}</p>
    {% endif %}
</div>
{% endblock %}