{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

   
    <div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/about.jpg);">
        <div class="bradcumbContent">
            <h2>{% trans "À propos de nous" %}</h2>
        </div>
    </div>
    <section class="about-us-area mt-50 section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>{% trans "Notre slogan" %}</span>
                        <h3>{% trans "Notre créativité au travail est notre voie vers la qualité" %}</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                    <p>
                        {% trans "Academie Pionniers future propose des formations, des cours de soutien et des événements intéressants éducatives qui permet aux étudiants d'apprendre à leur propre rythme, dans et hors de la salle de classe. Les sujets divers et variés. Les mathématiques et des sciences sont déjà disponibles. Le programme éducatif s'étend de la maternelle à l'université, et les devoirs que nous proposons guident les étudiants en fonction de leurs besoins, à l'aide d'algorithmes modernes, capables d'identifier les forces et les faiblesses individuelles."%}
                    </p>
                </div>
                <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="500ms">
                    <p>
                        {% trans "Nous travaillons dur pour faire de Future Pioneers Academy une école privée prospère. Nous sommes une équipe de personnes différentes animées par la même volonté de donner à chacun accès à une éducation de qualité. Nous sommes des enseignants, des formateurs et des baby-sitters compétants pour vous ou votre enfants." %}
                    </p>
                </div>
            </div>
            <br><br>
            <div class="row">
                    <div class="col-12 col-md-6 wow fadeInUp" data-wow-delay="600ms">
                            <div class="aboutus">
                                <h2 class="aboutus-title">{% trans "Créateur de l'Academie Pionniers Future" %}</h2>
                                <p class="aboutus-text">...</p>
                                <p class="aboutus-text">..</p>
                            </div>
                    </div>
                    <div class="col-12 col-md-6 wow fadeInUp">
                            <div class="aboutus-banner">
                                <img src="/static/img/bg-img/directeur.jpg" alt="">
                            </div>
                    </div>
            </div>
        </div>
    </section>
       

{% endblock body %}

    