{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}

   
    <div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/temoignage.jpg);">
        <div class="bradcumbContent">
            <h2>{% trans "Nos Témoignages" %}</h2>
        </div>
    </div>
    

    <div class="top-popular-courses-area mt-50 section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        
                        <h3>{% trans "Avis de nos chèrs clients sur nous" %}</h3>
                    </div>
                </div>
            </div>
            
            <div class="testimonials-area section-padding-100 bg-img bg-overlay" style="background-image: url('/static/img/bg-img/bg-2.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                                <span>{% trans "nos témoignages" %}</span>
                                <h3>{% trans "Voyez ce que nos clients satisfaits disent de nous" %}</h3>
                            </div>
                        </div>
                    </div>
                    
                        {% if commentaires %}
                        <div class="row ">
                            {% for commentaire in commentaires %}
                                <div class="col-12 col-md-4">
                                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                                        <div class="testimonial-thumb">
                                            <img src="{{ commentaire.proprietaire.image.url }}" style="width:50px;height:50px;" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <br>
                                            <p>{{ commentaire.commentaire }}</p>
                                            <h6><span>{{ commentaire.proprietaire.compte.first_name }}, {{ commentaire.proprietaire.compte.last_name }}</span></h6>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %} 
                </div>
            </div>
            
        </div>
    </div>

    

{% endblock body %}

    