{% extends 'base.html' %}
{% load static %}
{% block body %}

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>Nos Témoignages</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area mt-50 section-padding-100-70">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center mx-auto wow fadeInUp" data-wow-delay="300ms">
                        <span>les</span>
                        <h3>Avis de nos chèrs clients sur nous</h3>
                    </div>
                </div>
            </div>
            
            <div class="testimonials-area section-padding-100 bg-img bg-overlay" style="background-image: url('/static/img/bg-img/bg-2.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                                <span>nos témoignages</span>
                                <h3>Voyez ce que nos clients satisfaits disent de nous</h3>
                            </div>
                        </div>
                    </div>
                    
                        <!-- Single Testimonials Area -->
                        {% if commentaires %}
                        <div class="row ">
                            {% for commentaire in commentaires %}
                                <div class="col-12 col-md-4">
                                    <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                                        <div class="testimonial-thumb">
                                            <img src="{{ commentaire.propirtaire.image.url }}" style="width:50px;height:50px;" alt="">
                                        </div>
                                        <div class="testimonial-content">
                                            <!-- <h5>Great teachers</h5> -->
                                            <br>
                                            <p>{{ commentaire.commentaire }}</p>
                                            <h6><span>{{ commentaire.proprietaire.nom }} {{ commentaire.proprietaire.prenom }}</span></h6>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %} 
                </div>
            </div>
            
        </div>
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->

    

{% endblock body %}

    