{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
 <div class="breadcumb-area bg-img" style="background-image: url(/static/img/bg-img/student.jpg);">
    <div class="bradcumbContent">
        <h2>{% trans "Info Sur Formation" %}</h2>
    </div>
</div>
<div class="top-popular-courses-area mt-50 section-padding-100-70">
</div>

{% if formation_erreur %}
  <div class="alert alert-primary" role="alert">{{ formation_erreur }} .</div>
{% endif %} 

<div class="popular-course-details-area wow fadeInUp" data-wow-delay="300ms">
    <div class="single-top-popular-course d-flex align-items-center flex-wrap">
        <div class="popular-course-content">
            <h5>{{ formation.nom }}</h5>
            <br><br>
            <p>{{ formation.description }}</p>
            <a href="{% url 'formation:inscription_formation' formation.id %}" class="btn academy-btn btn-sm mt-15">{% trans "Inscrire à la Formation" %}</a>
        </div>
        <div class="popular-course-thumb detail-w-m-f">
        <div class="popular-course-content">
            <h6>{% trans "à propos de formation" %}</h6>
            <span class="chettb"><div class='rania'>{% trans "Catégorie" %}</div>   |  {{ formation.categorie }}</span>
            <span class="chettb"><div class='rania'>{% trans "Type" %}</div>   |  {{ formation.get_formation_type_display }}</span>
            <span class="chettb"><div class='rania'>{% trans "Niveau" %}</div>   |  {{ formation.niveau }}</span>
        </div>
        
        <div class="popular-course-content chettb">
            <h6>{% trans "Plus sur la formation" %}</h6>
            <span class="chettb"><div class='rania'>{% trans "Date Début" %}</div>   |  {{ formation.date_deb }}</span>
            <span class="chettb"><div class='rania'>{% trans "Date Fin" %}</div>   |  {{ formation.date_fin }}</span>
            <span class="chettb"><div class='rania'>{% trans "Durée" %}</div>   |  {{ formation.duree_en_h }} {% trans "Heures" %}</span>
            <span class="chettb"><div class='rania'>{% trans "Prix" %}</div>   |  {{ formation.prix }} DA</span>
        </div>
        </div>
    </div>
</div>
  

{% endblock body %}